sentence-transformers
requests
wikipedia-api
rank-bm25
transformers
torch
nltk
beautifulsoup4
pandas
streamlit
tqdm
scikit-learn
matplotlib
accelerate
sentencepiece
watchdog
numpy==1.26.4
faiss-cpu==1.7.4
